
@font-face {
    font-family: 'SpaceMono';
    src: url('../Fonts/spacemono-regular-webfont.woff2') format('woff2'),
         url('../Fonts/spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StoneWalls';
    src: url('../Fonts/stonewalls-webfont.woff2') format('woff2'),
         url('../Fonts/stonewalls-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content {
  opacity: 0.0;
  transition: all 500ms ease-in-out;
  color: white;
  align-self: center;
}

nav {
  background-color: #000;
}

.nav-link {
  text-transform: uppercase;
}

a:hover {
    color: #999;
    opacity: 1.0;
    text-decoration: none;
}

body {
  cursor: url(../images/cursor1.png), auto;
  background-color: #000;
  background-image: url(../images/Starry.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ddd;
  background-position-x: center;
}

a {
  margin: auto;
  font-family: 'StoneWalls';
  font-size: 150%;
  font-weight: normal;
  color: white;
}

ul {
  list-style: none;
}


.menu {
  line-height: 4vh;
  background-color: black;
}

div {
    background-color: rgba(0,0,0,0);
    background-size:cover;
}


.logo-title {
  background: url(../images/TitleLogo.jpg);
  height: 86vh;
  background-position: center;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
}


.arrow {
  display: flex;
  align-items: center;
}

.arrow img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
	width: 100px;
	height: 100px;
	position: relative;
	animation:mymove 3s infinite;
	animation-delay: -2s;
}

@keyframes mymove {
	from {top:-130px;}
	to {top:0px;}
}

.subtitle {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 35px;
  font-family: "StoneWalls", sans-serif;
  background-color: black;
  line-height: 6vh;
}

#planets {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: contain;
  margin-bottom: 40px;
  padding-left: 0;
  font-family: "SpaceMono", sans-serif;
}

.planetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup {
  display: none;
  width: 65%;
  margin-bottom: 100px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid white;
  border-radius: 0.3em; */
}

.description {
  text-align: justify;
}

.funfact {
  text-align: left;
}


.cartoongirls img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: -25px;
  font-family: "StoneWalls";
  font-size: 200%;
}

h5 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: "StoneWalls", sans-serif;
  font-size: 300%;
}

#aboutUs {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  align-items: start;
  grid-column-gap: 30px;
  margin-top: 25px;
  margin-bottom: 50px;
  padding-left: auto;
  padding-right: auto;
  text-align: justify;
  font-family: "SpaceMono", sans-serif;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.6);
  /* word-break: break-all; */
}

#marta {
  grid-column-start: 1;
}

#agnes {
  grid-column-start: 2;
}

#yalan {
  grid-column-start: 3;
}

#yasmin {
  grid-column-start: 4;
}
*/
h6 {
  font-family: "SpaceMono", sans-serif;
  font-size: 80%;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.5);
}

h7 {
  font-family: "SpaceMono", sans-serif;
  font-size: 80%;
  font-weight: lighter;
  color: rgba(255, 255, 255, 1);
}

h8 {display: flex;
justify-content: center;
margin-top: 100px;
font-family: "StoneWalls", sans-serif;
font-size: 150%;

}

.social {
  display: flex;
  align-items:center;
  justify-content: space-around;
  margin-left: 36%;
  margin-right: 36%;
  height: 50px;
}

.social img {
  height: 30px;
}


<!-- styles for contact -->

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
    letter-spacing: 2px;
}

#keep_in_touch {
  display: block;
  margin: auto;
  margin-top: 4%;
  width: 580px;
  font-family: "StoneWalls", sans-serif;

}
.c_body {
    display: block;
    margin: auto;
    margin-top: 3%;
    width: 580px;
    font-family: "SpaceMono", sans-serif;
}

form {
    margin:0 auto;
    margin-top: 5%;
    width: 460px;
}


input, textarea {
  width: 440px;
  height: 30px;
  background: #efefef;
  border: none;
  padding: 4px;
  margin-top: 1px;
  margin-bottom: 4px;
  font-size: 0.9em;
  color: BLACK BOLD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.8;
}

textarea {
	height:213px;
	background: right no-repeat #efefef;

}

//*
#submit {
  opacity: 0.7;
} *//
#submit {
  width: 50px;
  height: 40px;
  text-indent: -9999px;
  border: none;
  margin-top: auto;
  cursor: pointer;
}

#submit:hover {
	opacity: 0.2;
	}
